<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">
            Forget Username
        </mat-toolbar>
        <form fxLayout="column" fxLayoutAlign="streatch" class="main-form">
            <mat-form-field appearance="outline">
                <mat-label>E-Mail</mat-label>
                <input matInput>
            </mat-form-field>
            <button mat-raised-button>Submit</button>
        </form>
    </mat-card>
</div>